.servicesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem 0;
  background-color: #232323;
}
.services {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
}

.service {
  width: 500px;
  padding: 20px;
  margin: 20px;
  background-color: #111010e4;
  color: #fff;
  border-radius: 8px;
  text-justify: justify;
}

.service h2 {
  margin-bottom: 10px;
  color: #0cc87c;
}
.service p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffffc2;
}

.icons {
  padding: 2rem;
  font-size: 1.5rem;
}
