.sidebar {
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #0d0d0d;
  border-right: 2px solid gray;
  /* border-right: 3px solid #0cc87da9; */
  /* box-shadow: inset -3px 1px 4px #0cc87da0; */
}

.profile {
  text-align: center;
  padding: 2rem 0 0 0;
  /* border-bottom: 2px solid #808080; */
}

.profile img {
  border: 5px double gray;
  border-radius: 100px;
  width: 180px;
  height: 180px;
}
.profile h3 {
  padding: 0.5rem;
}

.navbar {
  text-align: center;
  padding: 1rem;
}
.navbar ul li {
  list-style-type: none;
  padding: 0.5rem 2rem 0.8rem;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar a:hover {
  color: #5cc566;
  text-decoration: underline;
}
/* .navbar a:active {
  color: #0cc87c;
  text-decoration: underline;
} */

.navbar a.active {
  color: #0cc87c;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.socialMedia > i {
  font-size: 1.5rem;
}
.socialMedia > i:hover {
  cursor: pointer;
  color: #0cc87c;
  transition: 0.5s;
  transform: translateY(-4px);
}
